<?xml version="1.0"?>
<configuration>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <appSettings>
    <!-- 言語の設定 -->
    <add key="Language" value="JP"/>
    <add key="logLevel" value="ALL"/>
    <!--<add key="logErrorMailAddress" value="nagisa1020tanaka@conside.co.jp"/>-->

    <add key="LogPreNameConnect" value="Socket"/>
    <add key="MailSavePath" value="C:\JoySuite\JoySmtp\"/>
    <add key="MailPreName" value="MAIL"/>
    <add key="MailExtName" value="txt"/>


    <add key="MailSavePathSend" value="C:\JoySuite\JoyFlight\JoyData\NACCS\Send\Back\"/>
    <add key="MailSavePathRecv" value="C:\JoySuite\JoyFlight\JoyData\NACCS\Recv\Back\"/>

    <add key="AppUserName" value="SmtpSystem"/>

    <add key="ReportXmlFileName" value="ReportSet.xml"/>
    <add key="NACCSSendMessageFile" value="Message.xml"/>



    <!--テスト環境-->
    <add key="NACCSIP" value="10.53.10.206"/>
    <add key="NACCSIPBACK" value="10.53.10.206"/>
    
    <!--<add key="NACCSIP" value="127.0.0.1"/>
    <add key="NACCSIPBACK" value="127.0.0.1"/>-->
    <add key="NACCSPortNo" value="25"/>
        
    <add key="NACCSToAddress" value="NACCS@SMTP.PROD.NACCS6"/>
    <add key="NACCSFromAddress" value="CSD001@DFS01.NACCS6"/>
    <add key="NACCSDomain" value=""/>
    <add key="NACCSDnsServer" value=""/>
    <add key="MyServerName" value="DFS"/>

    <add key="NaccsInputUserCode" value="CON01"/>
    <add key="NaccsInputUserPass" value="CON"/>
    <add key="NaccsShikibetsuNo" value="Y26"/>

    <!--秒単位で設定-->
    <add key="IntervalSendTimer" value ="60" />
    <!--分単位で設定-->
    <add key="IntervalSYGTimer" value ="10" />

    <!--再送信回数-->
    <add key="NaccsSendMailMaxNum" value ="0" />
    <!--処理識別固定フラグ　'C'を使用できなくする-->
    <add key="ShoriShikibetsuFlg" value="1"/>
    
    <!--検証環境-->
    <!--<add key="NACCSIP" value=""/>
    <add key="NACCSIPBACK" value=""/>
    <add key="NACCSPortNo" value="25"/>

    <add key="NACCSToAddress" value="NACCS@SMTP.PROD.NACCS6"/>
    <add key="NACCSFromAddress" value="3A0738@SMTP.DFS01.NACCS6"/>
    <add key="NACCSDomain" value=""/>
    <add key="NACCSDnsServer" value="10.1.129.101"/>
    <add key="NACCSDnsServerSub" value="10.1.1.101"/>
    <add key="MyServerName" value="60592S"/>

    <add key="NaccsInputUserCode" value="Y3H38Y"/>
    <add key="NaccsInputUserPass" value="M04CL9JW"/>
    <add key="NaccsShikibetsuNo" value="Y26"/>

    <add key="IntervalSendTimer" value ="0" />
    <add key="IntervalSYGTimer" value ="6000" />-->

    <!--本番--><!--
    <add key="NACCSToAddress" value="NACCS@SMTP.PROD.NACCS6"/>
    <add key="NACCSFromAddress" value="2A0654@SMTP.DFS01.NACCS6"/>
    <add key="NACCSIP" value="10.2.212.50"/>
    <add key="NACCSIPBACK" value="10.3.212.50"/>
    <add key="NACCSPortNo" value="25"/>
    <add key="NaccsDomain" value="SMTP.DFS01.NACCS6"/>
    <add key="MyServerName" value="DFS"/>

    <add key="NaccsInputUserCode" value="1ATC4"/>
    <add key="NaccsInputUserPass" value="M04CL9JW"/>
    <add key="NaccsShikibetsuNo" value="Y26"/>
    
    <add key="IntervalSendTimer" value ="60" />
    <add key="IntervalSYGTimer" value ="0" />-->  
    


    <!-- ===================================== -->
    <!-- ==   本番環境                     === -->
    <!-- ===================================== -->

    <!-- 本番サーバー -->

    <!--メール送信者-->
    <!--<add key="MailAddrFrom" value="@conside.co.jp"/>-->

    <!-- ===================================== -->
    <!-- ==   テスト環境                   === -->
    <!-- ===================================== -->
<!---->
    <!-- テストサーバー -->
    <!--<add key="DbHost" value="WIN-O4875VD7T76"/>
    <add key="DbUser" value="sa"/>
    <add key="DbPwd" value="hqaeyu2Zmc4l1w5+5KuvSQ=="/>
    <add key="DbName" value="JoyFlight"/>
    <add key="Timeout" value="1000"/>-->

    <add key="DbHost" value="DESKTOP-6VD5HVQ\NTSQLEXPRESS2017"/>
    <add key="DbUser" value="sa"/>
    <add key="DbPwd" value="hqaeyu2Zmc4l1w5+5KuvSQ=="/>
    <add key="DbName" value="JoyFlight"/>
    <add key="Timeout" value="1000"/>

    <!-- 本番サーバー -->
    <!--<add key="DbHost" value="10.190.10.1"/>
    <add key="DbUser" value="sa"/>
    <add key="DbPwd" value="iHWf9UnK+U4KVnCyZoMjzQ=="/>
    <add key="DbName" value="JoyFlight"/>
    <add key="Timeout" value="1000"/>-->

    <!--<add key="DbSysTblName" value="C_SYS_CTRL" />
    <add key="DbSysKeyName" value="SYS_CTRL_KEY" />-->
    <add key="DbKbnTblName" value="C_KYOTHU_KBN"/>
    <add key="DbKbnKeyName" value="SIKIBETU_KBN"/>


    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
